---
---

/*
*******
None of these variable are being imported anywhere, they're just here for your convenience.
*******
*/

body{
	margin: 15px;
}

table{
    font-family: "monospace";
    margin: 30px;
    width: 100%;
}

table tr td:nth-of-type(2) { 
    width: 20%; 
}
table tr td:nth-of-type(1) { 
    width: 5%; 
}