---
---

/*
*******
None of these variable are being imported anywhere, they're just here for your convenience.
*******
*/

body{
	margin: 15px;
}

table{
font-family: "monospace";
    margin: 30px;
}
